<mat-form-field appearance="outline">
    <mat-label>Search</mat-label>
    <input [formControl]="searchFormControl" matInput placeholder="search for anything...">
    <mat-icon matSuffix>search</mat-icon>
</mat-form-field>
<button mat-icon-button color="primary" title="add new product" aria-label="add" (click)="createProduct()">
    <mat-icon>add</mat-icon>
</button>
<ag-grid-angular #grid
                 class="ag-theme-alpine"
                 [rowData]="products$ | async"
                 [gridOptions]="gridOptions"
                 [columnDefs]="columnDefs"
                 (rowDoubleClicked)="openProduct($event, grid)"></ag-grid-angular>
<mat-spinner *ngIf="loading$ | async" [diameter]="36" [mode]="'indeterminate'"></mat-spinner>