:host {
   display: block;
   height: 100%;
   width: 100%;
   position: relative;
 }

 ag-grid-angular {
   display: block;
   width: 100%;
   height: 100%;
 }

 mat-spinner {
   position: absolute;
   top: 0.5rem;
   right: 0.5rem;
 }
 
 .grid-header {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 0.5rem;
}