<div class="row">
    <div class="col">
        <mat-form-field class="full-width">
            <input matInput placeholder="Search Product" [formControl]="searchKey" />
            <button *ngIf="searchKey.value" matSuffix mat-icon-button aria-label="Clear" (click)="reset()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="col col-end">
        <button mat-button color="primary" (click)="addProduct()">Add New Product</button>
    </div>
</div>
<div class="row">
    <span>Fetched {{timeElapsed$| async}} seconds ago</span>
</div>

<ag-grid-angular class="ag-theme-alpine" [rowData]="products$ | async" [gridOptions]="gridOptions"
    [columnDefs]="columnDefs" (rowDoubleClicked)="openProduct($event)"></ag-grid-angular>
<mat-spinner *ngIf="loading$ | async" [diameter]="36" [mode]="'indeterminate'"></mat-spinner>