.products {
  height: 100%;
  padding: 1rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    h2 {
      margin: 0;
    }
  }

  &__subheader {
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
  }
}