<nav class="productHeader">
  <h2>Products</h2>
  <div class="spacer"></div>
  <div class="inlineFlex">
    <button mat-button color="primary" aria-label="To Add New Product" title="Add New Product" (click)="addProduct()">
      <mat-icon>add</mat-icon>
    </button>
    <y42-product-search></y42-product-search>
    <!-- I know we wanted a label but with my limited eye for perfect design, i couldnt find perfect place for putting label -->
    <button
        mat-icon-button
        matTooltip="Fetched {{lastUpdatedSeconds || 'few' }} seconds ago"
        aria-label="Last updated details"
    >
        <mat-icon>update</mat-icon>
    </button>
  </div>
</nav>
<router-outlet></router-outlet>
