@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  padding: 0px;
}
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
